/* variable for color and font family global */
:root {
    --header-font-color-white: #ffffff;
    --header-font-color-black: #000000;
    --font-color-white:#ffffff;
    --header-border-white-color:#ffffff;
    --header-border-black-color:#000000;
    --header-hr-color:#999999;
    --font-family-sans-serif: sans-serif;
    --font-family-roboto: "Roboto", serif;
    --font-family-inter: "Inter", serif;
    --color-white:#ffffff;
    --color-black:#000000;
    --hover-color: #FFB846;
    --sublist-border-color: #FFB846;
    --sublist-hover-color: #4A25AA;
    --contact-icon-bg-color: #F1EBFF;
    --details-bg-color:#EEE7FF;
    --details-font-color:#191919;
    --placeholder-color: #757575;
    --button-color:#7f55EA;
}