header *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* added to confirm scroll effect */
main{
    background-color: var(--color-black);
    height: 200vh;
    align-content: center;
}
header .col-auto{
    padding: 0;
}
header{
    background-color: transparent;
    color: var( --header-font-color-white);
    font-family: var(--font-family-sans-serif);
    position: fixed;
    width: 100%;
    padding-top: 10px;
    transition: top 0.5s ease;
    z-index: 999;
}
header a{
    color : var( --header-font-color-white);
}
header .container{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
header .contact-bar{
    display: none;
    align-items: center;
    font-family: var(--font-family-roboto);
    margin: 0;
}
header .contact-bar a{
    text-decoration: underline;
    font-family: var(--font-family-roboto);
}
header .contact-bar p:nth-child(2){
    gap: 10px;
}
.header{
    align-items: center;
    margin: 0 0 15px 0;
}
/* mobile menu settings */

header .menu-items-wrapper{
    position: fixed;
    left: -599px;
    top: 0;
    width: 80%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 50px 16px 0 16px;
    transition: left 1s ease-in-out;
}
header .menu-items ul{
    margin-top: 20px;
}
header .menu-items hr{
    background-color: var(--header-hr-color);
    width: 50%;
    height: 1px;
    margin: 20px 0;
    border: none;
}
header .menu-items>li a{
    font-size: var(--font-size-16);
}
header .menu-items>li.call-us img{
    margin-right: 5px;
}
header .menu-items ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header .menu-items li:last-child{
    display: none;
}
header .menu-items li summary{
    display: flex;
}
header .menu-items li summary::after{
    content: '';
    background-image: url("https://www.bannersolutions.com/icons/DashboardDropdown.svg");
    width: 24px;
    margin-left: 10px;
}
header .menu-items, ul{
    list-style-type: none;
}
header .menu-items-wrapper ul li a, .menu-items-wrapper ul li p{
    color: var(--color-black);
}
header .menu-items>li:last-child a{
    border: 1px solid var(--header-border-white-color);
    padding: 0 8px;
}
header .menu-items>li:last-child a:hover{
    background-color: var(--color-white);
    color: var(--header-font-color-black);
    border: 1px solid var(--header-border-white-color);
    padding-bottom: 0;
}
header .menu-items li p{
    text-transform: uppercase;
    gap: 15px;
}
header .quick-links{
    gap: 10px;
}
header .mobile-icons{
    gap: 10px;
}
header .user-controls{
    display: none;
    align-items: center;
    font-family: var(--font-family-inter);
}
header .user-controls a:first-child{
    border-right: 1px solid var(--header-border-white-color);
    padding-right: 5px;
    margin-right: 5px;
}
@media (min-width: 960px) {
    header .contact-bar{
        display: flex;
    }
    .header{
        margin-top: 10px;
    }
    
}
@media (min-width: 1200px) {
    /* menu desktop styles */
    header .menu-items-wrapper{
        display: block;
        position: inherit;
        width: auto;
        max-width: unset;
        height: unset;
        background-color: unset;
        padding: 0;
    }
    header .menu-items-wrapper .menu-items{
        display: flex;
        gap: 15px;
    }
    header .menu-items-wrapper .menu-items .login-mobile, header .menu-items-wrapper .menu-items .call-us{
        display: none;
    }
    header .menu-items li:last-child{
        display: block;
    }
    header .menu-items-wrapper .menu-items hr{
        display: none;
    }
    header .menu-items-wrapper .menu-items li a, header .menu-items-wrapper .menu-items li p {
        color: var(--header-font-color-white);
    }
    header .menu-items>li p{
        border-bottom: 4px solid transparent;
    }
    header .menu-items-wrapper .menu-items>li>a.active, .menu-items-wrapper .menu-items>li p:hover {
        color: var(--color-list-hover);
        border-bottom: 4px dotted var(--color-list-hover);
    }
    header .menu-items li summary::after{
        content: none;
    }
    header .menu-items details ul{
        position: absolute;
    }
    .mobile-menu{
        display: none;
    }
    header .user-controls{
        display: flex;
    }
    .mobile-icons a:first-child{
        display: none;
    }
}




/* scrolled styles */

header.scrolled{
    background-color: var(--color-white);
}
header.scrolled .container {
    color: var(--header-font-color-black);
}
header.scrolled .container a{
    color: var(--header-font-color-black) !important;
}
header.scrolled .container p{
    color: var(--header-font-color-black) !important;
}
header.scrolled .container .menu-items>li:last-child a{
    border-color: var(--header-border-black-color);
}
header.scrolled .container .menu-items>li:last-child a:hover{
    background-color: var(--color-black);
    color: var(--header-font-color-white) !important;
}
header.scrolled .container .user-controls a:first-child{
    border-color: var(--header-border-black-color);
}