header *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .container{
    position: relative;
    max-width: unset;
}
header .col-auto{
    padding: 0;
}
header{
    background-color: transparent;
    color: var( --header-font-color-white);
    font-family: var(--font-family-sans-serif);
    position: absolute;
    width: 100%;
    padding-top: 10px;
    transition: top 0.5s ease;
    z-index: 99999;
}
header a{
    color : var( --header-font-color-white);
}
header .container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
header .contact-bar{
    display: none;
    align-items: center;
    font-family: var(--font-family-roboto);
    margin: 0;
}
header .contact-bar p{
    font-size: var(--contact-banner-font-size);
}
header .contact-bar a{
    text-decoration: underline;
    font-family: var(--font-family-roboto);
    font-size: var(--contact-banner-font-size);
}
header .contact-bar p:nth-child(2){
    gap: 10px;
}
.header{
    align-items: center;
    padding: 0 0 15px 0;
    margin: 0;
}
.header .search-all{
    display: none;
}
/* mobile menu settings */

header .menu-items-wrapper{
    position: fixed;
    left: -599px;
    top: 0;
    width: 80%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 50px 16px 0 16px;
    transition: left 1s ease-in-out;
}
header .menu-items ul{
    margin-top: 20px;
}
header .menu-items>li a{
    font-size: var(--font-size-16);
}
header .menu-items>li.call-us img{
    margin-right: 5px;
}
header .menu-items ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header .menu-items ul li{
    padding-left: 8px;
}
header .menu-items>li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
header .menu-items li:last-child{
    display: none;
}
header .menu-items li summary{
    display: flex;
    align-items: center;
}
header .menu-items li summary::after{
    content: '';
    background-image: url("https://www.bannersolutions.com/icons/DashboardDropdown.svg");
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
header .menu-items, ul{
    list-style-type: none;
}
header .menu-items-wrapper ul li a, .menu-items-wrapper ul li p{
    color: var(--color-black);
    font-size: var(--font-size-mobile-nav);
}
header .menu-items ul li a, .menu-items ul li p{
    font-size: var(--font-size-small);
}
header .menu-items>li:last-child a{
    border: 1px solid var(--header-border-white-color);
    padding: 0 8px;
}
header .menu-items>li:last-child a:hover{
    background-color: var(--color-white);
    color: var(--header-font-color-black);
    border: 1px solid var(--header-border-white-color);
    padding-bottom: 0;
}
header .menu-items li p{
    text-transform: uppercase;
    gap: 15px;
}
header .quick-links{
    gap: 10px;
}
header .mobile-icons{
    gap: 8px;
    display: flex;
}
header .user-controls{
    display: none;
    align-items: center;
    font-family: var(--font-family-inter);
}
header .user-controls a:first-child{
    border-right: 1px solid var(--header-border-white-color);
    padding-right: 5px;
    margin-right: 5px;
}
@media (min-width: 960px) {
    header .contact-bar{
        display: flex;
        padding-right: 30px;
    }
    .header{
        margin-top: 20px;
    }
    
}
@media (min-width: 1200px) {
    /* menu desktop styles */
    .header .search-all{
        width: max-content;
        position: relative;
        align-items: center;
        padding: 0;
    }
    .header .search-all input{
        border: 0;
        border-bottom: 1px solid var(--color-black);
        width: 95%;
    }
    .header .search-all input::placeholder{
        font-size: var(--font-size-small);
    }
    .header .search-all img{
        position: absolute;
        right: 20px;
    }
    header .menu-items-wrapper{
        display: block;
        position: inherit;
        width: auto;
        max-width: unset;
        height: unset;
        background-color: unset;
        padding: 0;
    }
    header .menu-items-wrapper .menu-items{
        display: flex;
        gap: 15px;
        align-items: baseline;
    }
    header .menu-items-wrapper .menu-items>li{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    header .menu-items-wrapper .menu-items .login-mobile, header .menu-items-wrapper .menu-items .call-us{
        display: none;
    }
    header .menu-items li:last-child{
        display: block;
    }
    header .menu-items-wrapper .menu-items li a, header .menu-items-wrapper .menu-items li p {
        color: var(--header-font-color-white);
        font-size: var(--font-size-small-nav);
    }
    header .menu-items-wrapper .menu-items>li p.active, .menu-items-wrapper .menu-items>li p:hover, header .menu-items-wrapper .menu-items>li details[open] p{
        color: var(--hover-color);
        border-bottom: 4px dotted var(--hover-color);
        font-family: var(--font-family-sans-serif);
    }
    header .menu-items-wrapper .menu-items>li>p.active a{
        color: var(--hover-color);
    }
    header .menu-items>li p{
        border-bottom: 4px solid transparent;
    }
    header .menu-items li summary::after{
        content: none;
    }
    header .menu-items details ul{
        position: absolute;
    }
    .mobile-menu{
        display: none;
    }
    header .user-controls{
        display: flex;
    }
    header .user-controls a{
        font-size: var(--font-size-small);
        font-weight: 700;
    }
    .mobile-icons a:first-child{
        display: none;
    }
    /* second level menu styles */
header .menu-items details ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 10px;
    left: 0;
    padding: 50px;
    top: 100%;
    margin: 0;
}
header .menu-items details ul li{
    width: max-content;
}
header .menu-items details ul li a{
    display: flex;
    align-items: center;
}
header .menu-items-wrapper .menu-items details ul li a{
    color: var(--header-font-color-black);
}
header .menu-items details ul li a:hover{
    color: var(--sublist-hover-color);
}
header .menu-items details ul li a::after{
    content: '';
    background-image: url("https://www.bannersolutions.com/icons/DashboardDropdown.svg");
    width: 24px;
    height: 24px;
}
header .menu-items details ul li a::before{
    content: '';
    border-left: 4px dotted var(--sublist-border-color);
    width: 10px;
    height: 20px;
}
}




/* scrolled styles */

header.scrolled{
    background-color: var(--color-white);
}
header.scrolled .container .contact-bar a{
    color: var(--header-font-color-black);
}
header.scrolled .container {
    color: var(--header-font-color-black);
}
header.scrolled .container .header a{
    color: var(--header-font-color-black);
}
header.scrolled .container .header p{
    color: var(--header-font-color-black);
}
header.scrolled .container .header p:hover{
    color: var(--hover-color);
}
header.scrolled .container .menu-items>li:last-child a{
    border-color: var(--header-border-black-color);
}
header.scrolled .container .menu-items>li:last-child a:hover{
    background-color: var(--color-black);
    color: var(--header-font-color-white);
}
header.scrolled .container .user-controls a:first-child{
    border-color: var(--header-border-black-color);
}
header.scrolled .container .menu-items ul li a:hover{
    color: var(--sublist-hover-color);
}


/*---------------- breadcrumbs style-------------------- */
.main-breadcrumbs{
    display: none;
    gap: 8px;
    align-items: center;
}
.main-breadcrumbs .breadcrumb .breadcrumb-label{
    color: var(--breadcrumb-primary-color);
    text-transform: uppercase;
}
.main-breadcrumbs .breadcrumb .breadcrumb-label.active{
    color: var(--breadcrumb-active-color);
}
.main-breadcrumbs .breadcrumb::after{
    content: '›';
    font-size: 20px;
    color: var(--breadcrumb-active-color);
    margin-left: 8px;
}
.main-breadcrumbs .breadcrumb:last-child::after{
    content: '';
}
@media (min-width:960px) {
     .main-breadcrumbs{
        display: flex;
    }   
}