/* Add only font sizes or weight */
:root {
  /* font sizes */
    --font-size-small: 11px;
    --font-size-root: 14px;
    --font-size-16: 16px;
    --font-size-h3: 20px;
    /* font-weight */
    --font-weight-notes:500;


    
  /* Font Families */
  --font-primary: 'Inter', system-ui, -apple-system, sans-serif;

  /* Existing color variables */
  --color-text-primary: #191919;
  --color-background-light: #F2F2F2;
  --color-accent-purple: #AE8FFD;
  --color-border-light: #C8C8C8;
  --color-border-gray: #BABABA;
  --color-button-primary: #4A25AA;
  --color-text-white: #FFFFFF;

  /* New Colors */
  --color-background-hover: #E4DDF7; /* Added for hover effect */
  --color-text-gray: #4E4E4E; /* Added for category details */
  --color-accent-yellow: #FFC107; /* Added for dotted border under h2 */
}
